body{
    font-family: "Playfair", serif;
    background:black;
    color:antiquewhite;
    margin:0px;
    margin-bottom: 100px;
}
.chamada{
    background: white;
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
header{
    font-size:40px;
    color:blue
    border-bottom : 3px solid blue;
    padding: 20px ;
}
h1{
    font-size: 35px;
}
.chamada-texto{
    margin-right: 5%;
}